[defaults]
ansible_managed = Ansible managed: {file} modified on %Y-%m-%d %H:%M:%S by {uid} on {host}
collections_paths = ./
roles_path = ./roles
inventory = ./inventory/
remote_tmp = /tmp/.ansible-${USER}/tmp
hash_behaviour = merge
host_key_checking = False
retry_files_enabled = False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=30m -o StrictHostKeyChecking=no -o ForwardAgent=yes
control_path = /tmp/ansible-ssh-%%h-%%p-%%r
